@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}
nav.navbar{
    height: inherit;
    background-color:rgba(255, 255, 255, 0.397);
}
nav .logo{
    float: left;
}
nav .logo img{
    height: 80px;
    transition: .5s;
}
nav ul{
    float: right;
    margin:0;
    padding: 0;
    display: flex; 
}
ul li{
    list-style: none;
}
nav ul li a{
    line-height: 80px;
    color: #262626;
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
nav ul li a.active,
nav ul li a:hover{
    color:#fff;
    background-color: #89b257;
}
section.sec1{
    width: 100%;
    height: 100vh;
    background: url(https://cdn-images-1.medium.com/max/2000/1*INQOqFg9aha-aEJbqhXQUw.jpeg);
    background-size: cover;
}
section.ads{
    width: 100%;
    height: 30vh;
    background: url(banner-pbi.png);
    background-size: cover;
    background-repeat: no-repeat;
}
section.content{
    padding: 100px;
}
section.content h1{
    margin: 0;
    padding: 0;
    font-size: 3em;
}
section.content p{
    margin: 20px 0 0;
    padding: 0;
    font-size: 1.1em;
    text-align: justify;
}